
<div class="welcome">
  <h3 class="top">Welcome To</h3>
  <h1 class="middle">Heading Up</h1>
  <h5 class="bottom">Please Click The Logo To Get Started</h5>
</div>

<div class="home-logo">
  <a href="/heads"><img src="/img/headinguplogo.png" alt="Heading Up Logo"></a>
</div>
