<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Heading Up</title>
  </head>
  <body> 
    <div class="sidebar-left">
      <div class="logo_img">
        <a href="/heads"><img src="/img/headinguplogo.png" alt="Heading Up Logo"></a>
      </div>
    </div>

  </body>
</html>