<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Heading Up</title>
    <style>
      .login_options {
        float: right;
        padding-right: 25px;
      }

      .item_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 50px;
        grid-auto-rows: 1fr;
        padding-top: 60px;
        padding-bottom: 85px;
        float: right;
        width: 75%;
      }

      .sidebar-left {
        float: left;
        width: 258px;
        height: 2000px;
        position: fixed;
        background-color: #b6ccd7;
      }

      .sidebar-left form {
        position: fixed;
      }

      .logo_img {
        display: block;
        width: 50%;
      }

      .filter-options_title {
        list-style: none;
        margin-bottom: 5px;
      }

      a {
        text-decoration: none;
        color: black;
      }

      a:hover {
        color: gold;
      }

      .item_grid_container {
        padding: 10px 30px 30px 20px;
        box-shadow: 5px 5px 10px #675f5f;
        background-color: white;
        display: grid;
      }

      .grid_content {
        max-width: 55%;
        margin: auto;
      }

      .item_grid_img {
        height: 250px;
        width: 225px;
        justify-self: center;
      }

      .footer {
        width: 40%;
        text-align: left;
        background-color: #b6ccd7;
        padding: 20px;
        color: black; 
        position: fixed;
        left: 0;
        bottom: 0;
        height: 10px;
      }
    </style>
  </head>
  <body> 
    <div class="sidebar-left">
      <div class="logo_img">
        <a href="/heads"><img src="/img/headinguplogo.png" alt="Heading Up Logo"></a>
      </div>

      <form>
        <div class="filter_options">
          <div data-role="title" class="filter-options_title">
            <a href="/heads/men" style="text-decoration: none;">Men</a>
          </div>
          <ul>
            <li><a href="/heads/men/nike">Nike</a></li>
          <li><a href="/heads/men/underarmour">Under Armour</a></li>
            <li><a href="/heads/men/brine">Brine</a></li>
            <li><a href="/heads/men/stx">STX</a></li>
            <li><a href="/heads/men/maverik">Maverik</a></li>
            <li><a href="/heads/men/ecd">ECD Lacrosse</a></li>
            <li><a href="/heads/men/warrior">Warrior</a></li>
            <li><a href="/heads/men/stringking">StringKing</a></li>
          </ul>
          <div data-role="title" class="filter-options_title">
            <a href="/heads/women" style="text-decoration: none;">Women</a>
          </div>
          <ul>
            <li><a href="/heads/women/brine">Brine</a></li>
            <li><a href="/heads/women/ecd">ECD Lacrosse</a></li>
            <li><a href="/heads/women/stringking">StringKing</a></li>
            <li><a href="/heads/women/stx">STX</a></li>
            <li><a href="/heads/women/underarmour">Under Armour</a></li>
            <li><a href="/heads/women/epoch">Epoch</a></li>
          </ul>
        </div>
      </form>
    </div>

    <header>
      <div class="login_options">
        <% if !logged_in?(session) %>
          <a href="/signup">Sign Up</a> / <a href="/login">Login</a>
        <% else %>
          <a href="/bag">Bag</a> / <a href="/logout">Logout</a>
        <% end %>
      </div>
    </header>
    
    <%= yield %>

    <footer class="footer" id="footer">
      No pictures, descriptions, or items are my own and come from <a href="https://www.lacrossemonkey.com/">lacrossemonkey.com</a>.
    </footer>
  </body>
</html>