<div class="signup">

  <form action="signup" method="post">
    <h2>Create New Account</h2>
    <h3>Personal Info</h3>
    <hr>

    <p>
      <label for="user[name]">First Name: </label>
      <input type="text" name="user[name]">
    </p>

    <h3>Sign In Info</h3>
    <hr>

    <p>
      <label for="user[email]">Email: </label>
      <input type="text" name="user[email]">
    </p>

    <p>
      <label for="user[password]">Password: </label>
      <input type="password" name="user[email]">
    </p>
  </form>

</div>