<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Heading Up</title>
  <link href="https://fonts.googleapis.com/css?family=Bitter|Work+Sans" rel="stylesheet">
  <%# <link rel="stylesheet" href="public/css/styles.css" type="text/css"/> %>
  <style>
    html {
      background-color: white;
      font-family: 'Work Sans', sans-serif;
    }

    .login_options {
      float: right;
      padding-right: 25px;
    }

    .item_grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 50px;
      grid-auto-rows: 1fr;
      padding-top: 60px;
      padding-bottom: 85px;
      float: right;
      width: 75%;
    }

    /* li.men-brands, li.women-brands {
      text-decoration: none; 
      color: #bc9c22;
    } */

    .sidebar-left form {
      position: fixed;
    }

    .sidebar-left {
      float: left;
      width: 258px;
      height: 800px;
      position: fixed;
      background-color: #b6ccd7;
    }


    .logo_img {
      display: block;
      width: 50%;
    }

    .filter-options_title li {
      list-style: none;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
      color: black
    }

    a:hover {
      color: gold;
    }

    .item_grid-container {
      padding: 10px 30px 30px 20px;
      border: 3px solid #675f5f;
      box-shadow: 5px 5px 10px #675f5f;
      background-color: white;
      display: grid;
    }

    .item_grid-content {
      max-width: 55%;
      margin: auto;
    }

    .cart_user_name {
      color: white;
      position: center;
    }

    .footer {
      width: 40%;
      text-align: left;
      background-color: #b6ccd7;
      padding: 20px;
      color: black; 
      position: fixed;
      left: 0;
      bottom: 0;
      height: 10px;
    }

    .item_grid-img {
      height: 250px;
      width: 225px;
      justify-self: center;
    }

    p.cart__container {
      font-weight: bold;
      border-bottom: 3px solid black;
      padding-left: 200px;
    }

    .cart__container {
      display: grid;
      grid-template-columns: repeat(3,2fr) 1fr 1fr;
      padding-left: 200px;
    }

    div.cart__container span {
      line-height: 30px;
    }

    input#increase.cart-edit__btn,
    input#decrease.cart-edit__btn {
      background-color: white;
      color: black;
      border: none;
      font-size: 24px;
      padding: 0;
      margin: 0;
    }

    strong {
      padding-bottom: 10px;
    }

    .edit-form {
      display: flex;
      align-items: center;
    }
    .edit-form form {
      align-self: center;
    }

    .cart-total {
      justify-self: end;
    }

    .signup form {
      padding-left: 300px;
    } 

    .login form {
      padding-left: 300px;
    } 

  </style>
</head>

<body>
<div class="sidebar-left">
  <div class="logo_img">
    <a href="/heads"><img src="/img/headinguplogo.png" alt="Heaading Up Logo"></a>
  </div>
  <form>
    <%# <strong role="heading" class="shopping_options">Shopping Options</strong> %>
    <div class="filter-options">
      <div data-role="collapsible" data-collapsible="true" class="filter-options_title">
        <div data-role="title">
          <a href="/heads/men" style="text-decoration: none;">Men</a>
        </div>
          <ul>
            <li><a href="/heads/men/nike">Nike</a></li>
            <li><a href="/heads/men/underarmour">Under Armour</a></li>
            <li><a href="/heads/men/brine">Brine</a></li>
            <li><a href="/heads/men/stx">STX</a></li>
            <li><a href="/heads/men/maverik">Maverik</a></li>
            <li><a href="/heads/men/ecd">ECD Lacrosse</a></li>
            <li><a href="/heads/men/warrior">Warrior</a></li>
            <li><a href="/heads/men/stringking">StringKing</a></li>
          </ul>
        <div data-role="title" class="filter-options_title">
          <a href="/heads/women" style="text-decoration: none;">Women</a>
        </div>
          <ul>
            <li><a href="/heads/women/brine">Brine</a></li>
            <li><a href="/heads/women/ecd">ECD Lacrosse</a></li>
            <li><a href="/heads/women/stringking">StringKing</a></li>
            <li><a href="/heads/women/stx">STX</a></li>
            <li><a href="/heads/women/underarmour">Under Armour</a></li>
            <li><a href="/heads/women/epoch">Epoch</a></li>
          </ul>
      </div>
    </div>
  </form>
</div>
  <header>
    <div class="login_options">
      <% if !logged_in?(session) %>
        <a href="/signup">Sign Up</a> / <a href="/login">Login</a> 
      <% else %>
        <a href="/logout">Logout</a> / <a href="/bag">Bag</a>
      <% end %>
    </div>
  </header>
  <%= yield %>
  <footer class="footer" id="footer">
    No pictures, descriptions, or items are my own and come from <a href="lacrossemonkey.com">lacrossemonkey.com</a>.
  </footer>
</body>

</html>