.item_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 1fr;
}

.item_grid-container {
  padding: 10px 30px 30px 30px;
  border: 3px solid #675f5f;
  box-shadow: 5px 5px 10px #675f5f;
  background-color: white;
  display: grid;
}

.item_grid-content {
  max-width: 55%;
  margin: auto;
}

.footer {
  width: 100%;
  margin-top: 40px;
  background-color: #520000;
  padding: 60px;
  color: white;
}